<!DOCTYPE html>
<html>
  <head>
    <title>Kèo bóng bot</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  

    <form action="/" method="POST">
      <div>
        <label for="name">Text kèo tài xỉu</label>
        <input type="text" id="name" name="textKeoTX" required>
      </div>
      <div>
        <label for="textKeoChap">Text kèo chấp</label>
        <input type="text" id="textKeoChap" name="textKeoChap" required >
      </div>
      <div>
        <label for="text">text button</label>
        <input type="text" id="text" name="text" required>
      </div>
      <div>
        <label for="keoTX">Kèo tài xỉu</label>
        <input type="text" id="keoTX" name="keoTX" required>
      </div>
      <div>
        <label for="keoChap">Kèo Chấp</label>
        <input type="text" id="keoChap" name="keoChap" required>
      </div>
      <div>
        <div>
          <label for="data1">Đội 1:</label>
          <input type="text" id="data1" name="doi1" required>
        </div>
        <div>
          <label for="data2">Đội 2</label>
          <input type="text" id="data2" name="doi2" required>
        </div>
        <button type="submit">Submit</button>
      </div>
    </form>


    <div>
      <a href="/edit">Qua Trang xóa</a>
    </div>

    <form>
      <h3>Gửi tin nhắn</h3>
      <div>
        <label for="tinNhan">Tin nhắn</label>
        <input type="text" id="tinNhan" name="tinNhan" required>
      </div>
      <button  type="button" onclick="guiTinNhan()">Gửi</button>
    </form>
    <br />
    <br />

    <div>
      <% if (options) { %>
        <p>Text kèo tài xỉu: <%= options.textKeoTX %></p>
        <p>Text kèo chấp: <%= options.textKeoChap %></p>
        <p>Kèo Chấp: <%= options.keoChap %></p>
        <p>Kèo Tài xỉu: <%= options.keoTX %></p>
        <p>Đội 1: <%= options.doi1 %></p>
        <p>Đội 2: <%= options.doi2 %></p>
        <p>text hiện thị button: <%= options.text %></p>

      <% } %>
    </div>

 

    <div class="ghi-chu">
      KHI GHI ĐỘI 1 luôn luôn là kèo trên
    </div>
  </body>

  <script>
    function guiTinNhan(e) {
    if (confirm("Bạn có chắc chắn muốn gửi tin nhắn này không?")) {
    const tinNhan = document.getElementById("tinNhan").value;

    fetch("/text", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        duLieu: encodeURIComponent(tinNhan)
      })
    })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        location.reload();
      })
      .catch(error => {
        console.error(error);
      });
  }
}
  </script>
</html>
