<!DOCTYPE html>
<html>
  <head>
    <title>Kèo bóng bot</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  

    <form action="/" method="POST">
      <div>
        <label for="name">Text kèo tài xỉu</label>
        <input type="text" id="name" name="textKeoTX" required>
      </div>
      <div>
        <label for="textKeoChap">Text kèo chấp</label>
        <input type="text" id="textKeoChap" name="textKeoChap" required >
      </div>
      <div>
        <label for="text">text button</label>
        <input type="text" id="text" name="text" required>
      </div>
      <div>
        <label for="keoTX">Kèo tài xỉu</label>
        <input type="text" id="keoTX" name="keoTX" required>
      </div>
      <div>
        <label for="keoChap">Kèo Chấp</label>
        <input type="text" id="keoChap" name="keoChap" required>
      </div>
      <div>
        <div>
          <label for="data1">Đội 1:</label>
          <input type="text" id="data1" name="doi1" required>
        </div>
        <div>
          <label for="data2">Đội 2</label>
          <input type="text" id="data2" name="doi2" required>
        </div>
        <button type="submit">Submit</button>
      </div>
    </form>


    <div>
      <a href="/edit">Qua Trang xóa</a>
    </div>

    <form id="myForm">
      <h3>Gửi tin nhắn</h3>
      <div>
        <label for="tinNhan">Tin nhắn</label>
        <textarea id="tinNhan" name="tinNhan" rows="4" cols="50"></textarea>
        <input type="file" id="image" name="image"><br><br>
      </div>
      <button  type="button" onclick="guiTinNhan()">Gửi</button>
    </form>
    <br />
    <br />

    <div>
      <% if (options) { %>
        <p>Text kèo tài xỉu: <%= options.textKeoTX %></p>
        <p>Text kèo chấp: <%= options.textKeoChap %></p>
        <p>Kèo Chấp: <%= options.keoChap %></p>
        <p>Kèo Tài xỉu: <%= options.keoTX %></p>
        <p>Đội 1: <%= options.doi1 %></p>
        <p>Đội 2: <%= options.doi2 %></p>
        <p>text hiện thị button: <%= options.text %></p>

      <% } %>
    </div>

 

    <div class="ghi-chu">
      KHI GHI ĐỘI 1 luôn luôn là kèo trên
    </div>
  </body>

  <script>
    function guiTinNhan(e) {
      const imageFile = document.querySelector('input[type="file"]').files[0];

      var inputElement = document.getElementById("tinNhan");
      var tinNhan = inputElement.value;


      const formData = new FormData();
      formData.append('image', imageFile);

      const options = {
        method: 'POST',
        body: formData
      };   
      
      
      console.log(options, 'options');

  

      const data = {
          duLieu: encodeURIComponent(tinNhan)
        };

    if (confirm("Bạn có chắc chắn muốn gửi tin nhắn này không?")) {
      fetch('/upload', options)
      .then(response => response.json())
      .then(data => console.log(data))
      .catch(error => console.error(error));

      fetch('/text', {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
          'Content-Type': 'application/json'
        }
      }).then(response => {
        console.log(response);
      }).catch(error => {
        console.error(error);
      });

    }
}
  </script>
</html>
